table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #cedce8;
}
table tr:nth-child(odd) {
  background-color: #E3F0FF;
}

table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0077b6;
  color: white;
  position: sticky;
  top: 0;
}

#companion th{
  background-color: rgb(139, 139, 139);
}
